---
import Classes from "../components/Classes.vue";
import Configuration from "../components/Configuration.vue";
import Information from "../components/Information.vue";
import Shop from "../components/Shop.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MathBattle</title>
  </head>
  <body class="">
    <Configuration client:visible />
    <Shop client:only="vue" />
    <Classes client:visible />
  </body>
</html>
